.container-booking {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  padding: 10px;
}
.booking-header {
  display: flex;
  flex-direction: row;
}
.th {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container-booking {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }
  .booking-header {
    display: flex;
    flex-direction: row;
    gap: 2px;
    padding: 5px;
    width: 100%;
    height: 20vh;
  }

  .th {
    background: lightblue;
    width: 100%;
    font-size: 12px;
    padding: 7px;
    text-align: center;
  }
}
