.image-card {
  text-align: center;
  font-family: Arial;
}

img {
  width: 100%
}

.img-container {
  height: 230px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  transform: skew(0deg, -13deg);
  height: 280px;
  margin: -25px 0px 0px -5px;
}

.inner-img {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  transform: skew(0deg, 13deg);
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 250px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
  padding: 120px 2px 3px 2px;
  border-radius: 20px;
  background: #fff;
  margin: -140px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #101111;
  font-size: 18px;
}

.location img {
  width: 18%;
}

@media screen and (min-width: 768px) {
  
  
  
  
  
  
  
}
