.flag {
  letter-spacing: -0.18px;
  padding: 0.02rem 0.5rem;
  border-radius: 0.2rem;
  margin-right: 0.5rem;
  color: white;
  background-color: #19a2b8;
  font-weight: bold;
  font-size: 0.7rem;
}

.home {
  display: grid;
  grid-template-columns: auto;
}

.subtitle {
  font-size: 0.9rem;
  text-align: center;
}

.img-fluid {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
  border: 2px solid;
}

#subcontent {
  display: flex;
  display: inline;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .home {
    display: flex;
    flex-direction: column;
    border: 1px solid;
  }
}
