.card_details {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100vh;
  overflow-y: auto;
}

.marquee {
  height: 20vh;
}

.marquee-content {
  display: flex;
  height: 30vh;
  animation: scrolling 35s linear infinite;
}

.marquee-item {
  flex: 0 0 16vw;
  margin: 0 1vw;
}

.img-details {
  width: 100%;
  height: 17vh;
}

.marquee-item img {
  display: block;
  width: 100%;
}

.argo {
  display: flex;
  gap: 50px;
}

.book-now {
  color: darkslategrey;
  text-decoration: none;
  font-size: 15px;
}

.star-rating {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
}

@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(-144vw); }
}

.product-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: darkslategray;
}

.button {
  width: 35%;
  border-radius: 999em;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .card_details {
    margin: auto;
    width: 70%;
  }

.marquee {
  height: 35vh;
}

.product-details {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: darkslategray;
}

  .button {
    width: 15% !important;
    border-radius: 999em;
  }

  .img-details {
    height: 30vh;
  }
}
