.navbar {
  width: 100%;
  display: flex;
}

.nav-ul {
  display: none;
  z-index: 2;
}

.logo-div {
  display: none;
}

.hamburger-menu {
  width: 95%;
  margin: auto;
}

.fa-bars {
  font-size: 24px;
  width: 15%;
}

.nav-ul li {
  width: 100%;
  padding: 25px;
  position: relative;
}

.navbar.toggle .nav-ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  animation: slide-open 0.1s ease-in-out;
  top: 0;
  left: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  box-shadow: var(--box-shadow-3);
  padding: 5px;
  gap: 5px;
  border-bottom-right-radius: 50px;
  background-color: #fff;
}

a{
  text-align: center;
}

.active-link {
  text-decoration: none;
  color: darkgray;
}

.active-link.active:hover {
  color: #fff !important;
  background: rgb(20, 179, 28) !important;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 55%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(250, 240, 240, 0.3);
    overflow-x: hidden;
    flex-direction: column;
    padding: 20px;
    border-radius: 1% 10% 10% 3%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .hamburger-menu {
    display: none;
  }

  .logo-div {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    padding: 7px 45px;
    padding-top: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: fit-content;
    transition: 0.1s;
    box-shadow: var(--box-shadow-1);
    z-index: 20;
    animation: left 1.5s ease-in;
   
  }

  .logo-img {
    width: 100%;
  }

 .nav-ul {
  display: block;
  display: flex;
  flex-direction: column;
  margin: auto;
  top: 10px;;
 }

  
  .active-link.active {
    color: #fff !important;
    background: var(--green);
  }
}
