body {
  background-color: #eee;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}



@media screen and (min-width: 768px) {
  .App {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .container {
    border: 2px solid rgb(87, 251, 6);
    display: flex;
    width: 100%;
  }
  
}