body {
  background-color: #eee;
}

.App {
  display: flex;
  width: 100%;
}

/* .ham-nav {
  border: 3px solid blue;
} */

/* .container {
  border: 2px solid red;
} */

@media screen and (min-width: 768px) {
  .App {
    display: flex;
    width: 100%;
  }

  .container {
    border: 2px solid rgb(87, 251, 6);
    display: flex;
    width: 100%;
  }

  .hotel_containe {
    display: flex !important;
    flex-direction: row !important;
  }
}