.navbar {
  background-color: rgb(252, 252, 252);
  display: flex;
  flex-direction: row;
  align-items: center;
}

a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin-right: 5%;
  flex-direction: row;
  align-items: center;
}
