.container-hotel {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .container-hotel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
  }
}
